<slide class="{{ slide.class }}" id="{{ slide.id }}">
  <hgroup>
    {{{ slide.header }}}
  </hgroup>
  <article>
    {{{ slide.content }}}  
    <div class='left' style='float:left;width:48%'>
     {{{ slide.left.html }}}
    </div>    
    <div class='right' style='float:right;width:48%'>
     {{{ slide.right.html }}}
    </div>
  </article>
    <!-- Presenter Notes -->
  {{# slide.pnotes }}
  <aside class="note" id="{{ id }}">
    <section>
      {{{ html }}}
    </section>
  </aside>
  {{/ slide.pnotes }}
</slide>